.register {
  width: 100%;
  min-height: 100vh;
  padding-top: 15rem;
}

.register__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.register__container .left {
  display: grid;
  place-items: center;
}

.register__container .right h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.right__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right__form-inputs {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.right__form-inputs label {
  font-size: 1.5rem;
  font-weight: 500;
}

.input__box {
  padding: 1.3rem 1rem;
  border: .2rem solid var(--color-nav);
  border-radius: 1rem;
  font-size: 1.5rem;
  color: var(--color-text);
  transition: var(--transition);
}

.input__box:focus {
  border: .2rem solid var(--color-btn);
}

.password {
  border: .2rem solid var(--color-nav);
  border-radius: 1rem;
  position: relative;
  display: flex;
}


.password input {
  border: 0;
  width: 100%;
}

.password__icon {
  color: var(--color-btn);
  position: absolute;
  top: 1.7rem;
  right: 1rem;
}

.right__form button {
  background-color: transparent;
  margin-top: 1rem;
  cursor: pointer;
}

/* MEDIA QUERIES  */
@media (max-width:768px) {
  .register__container {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }

  .register__container .left {
    width: 80%;
  }
}

@media (max-width:480px) {
  .register__container .left {
    display: none;
  }
}

.right__form .error {
  color: red;
  font-size: 1.3rem;
}